env
.venv
.ipynb_checkpoints/
evals/
papers/
.claude
**/*06*/*solution.ipynb
nbs/07*
nbs/08*
nbs/09*
nbs/10*
nbs/11*
nbs/12*
nbs/13*
nbs/14*
nbs/15*
nbs/16*
nbs/17*
nbs/18*
nbs/19*
nbs/20*
nbs/21*
nbs/22*
nbs/23*
nbs/24*
nbs/25*
nbs/26*
nbs/27*
nbs/28*
nbs/29*
nbs/30*
nbs/31*
nbs/32*
nbs/33*
nbs/34*
db/